@import "../../styles/variablies.scss";
@import "../../styles/mixins.scss";
.h {
  @extend %container;
  position: relative;
  margin-top: 50px;

  h1 {
    display: flex;
    justify-content: center;
    color: $osnova;
    font-size: 28px;
    margin-top: 20px;
  }
  p {
    display: flex;
    justify-content: center;
    margin: 5px;
  }

  &__hor {
    border-bottom: 3px solid $osnova;
    width: 1030px;
    margin: auto;
  }
  &__vert {
    border-left: 3px solid $osnova;
    height: 120px;
    position: absolute;
    left: 25%;
    margin-left: -3px;
    top: 63px;
  }

  &__vert1 {
    border-left: 3px solid $osnova;
    height: 120px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 63px;
  }
  &__vert2 {
    border-left: 3px solid $osnova;
    height: 120px;
    position: absolute;
    left: 75%;
    margin-left: -3px;
    top: 63px;
  }
  .card {
    margin-top: 117px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    gap: 14px;
    margin: 119px auto;
    align-items: center;
    font-size: 16px;

    .card-1 {
      margin-top: -3px;
      margin-left: 23px;

    }
    .card-2 {
      margin-top: -3px;
      margin-left: 17px;
    }
    .card-3 {
      margin-top: -3px;
      margin-left: 26px;
    }

    .h2 {
      font-weight: bold;
    }
  }
}
