@import "../../styles/variablies.scss";
.f {
  &__form {
    color: black;
    background-color: white;
    padding: 12px 20px;
    max-width: 500px;
    min-width: 420px;
    border-width: 20px;
    border-radius: 8px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 95px;
  }

  &__button {
    height: 40px;
    border-radius: 8px;
    width: 100%;
    color: $osnova;
    border-color: $osnova;
    background-color: transparent;
  }
}

h1 {
  font-size: 20px;
  text-align: center;
}
input {
  border-radius: 8px;
  border-color: $purple;
  width: 100%;
  height: 42px;
  padding: 8px;
  margin-bottom: 20px;
}
