@import "../../styles/variablies.scss";
.f {
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    background-color: white;
    padding: 12px 20px;
    width: 516px;
    border-width: 20px;
    border-radius: 8px;
    padding-right: 20px;
    height: 407px;
    margin: 95px;
  }

  &__button {
    height: 40px;
    border-radius: 8px;
    color: $osnova;
    border-color: $osnova;

    background-color: transparent;
  }
}

h1 {
  font-size: 20px;
  text-align: center;
}
input {
  border-radius: 8px;
  border-color: $purple;
  width: 470px;
  height: 42px;
  padding: 8px;
}
