@import "../../styles/variablies.scss";
@import "../../styles/mixins.scss";

.main {
  @extend %container;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  gap: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
  & h2 {
    color: $osnova;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  & h3 {
    margin-bottom: 24px;
  }

  &__p {
    margin-bottom: 20px;
  }

  &__paragraph {
    flex: 1;
    text-align: left;
    width: 55%;
    padding: 20px;

  }
}
.image {
  height: auto;
  max-width: 40%;
  object-fit: cover;
  margin: 30px auto;
}
