.get-discount {
  display: flex;
  flex-direction: column;
  align-items: center;

  .discount-header {
    color: #6631ff;
    margin-bottom: 0;
  }

  .discount-desc {
    width: 495px;
    height: 48px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 60px;
  }

  .discount-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  .card {
    max-width: 230px;
    height: 349px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--osnova, #d6d6d6);
    background: #fefefe;
    padding: 10px;

    img {
      margin-top: 34px;
    }

    .percent-number {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
    }

    .desc-text {
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      text-align: center;
      height: 88px;
    }

    .detail-info-btn {
      border: 1px solid #6631ff;
      background-color: #fefefe;
      color: #6631ff;
      width: 210px;
      height: 39px;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      margin-top: 20px;
    }
  }

  .card:hover {
    border-color: #6631ff;
    .detail-info-btn {
      background-color: #6631ff;
      color: #fff;
    }
  }
}
