.main {
    max-width: 1240px;
}

.main-img {
    object-fit: cover;
    max-width: 100%;
}

.main-text {
    font-family: Manrope;
    max-width: 432px;
    max-height: 136px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
}